.header__menu [type="checkbox"] {
    display: none;
}
.header__menu label.toggleMenu {
    display: block;
    margin: 15px 40px;
    cursor: pointer;
    position: relative;
}

@media all and (max-width: 767px) {
    .about__fullName {
        font-size: 3vh;
        margin: 2vh 0 8vh;
        font-weight: 900;
        color: #000;
    }
    .header {
        height: 8vh;
        border: none;
    }
    ul li .header__socialNetworks {
        display: block;
        margin-top: 2vh;
        margin-right: 16vw;
        width: 17vw;
        height: 70%;
    }
    .header__socialNetworks img {
        filter: invert(0.5);
    }
    .header__logotip {
        margin-left: 10vw;
    }
    .header__menu {
        overflow: hidden;
    }
    .header__menu ul {
        display: none;
    }
    .header__menu label.toggleMenu {
        display: block;
    }
    .header__menu label.toggleMenu img {
        display: block;
        filter: invert(0.5);
    }
    input.toggleMenu:checked ~ ul {
        border: none;
        position: absolute;
        margin: 100px 0 200px 0;
        display: block;
        text-align: center;
        font-family: "20094";
        font-size: 16px;
        line-height: 100px;
        font-weight: 300;
        word-spacing: 10px;
        color: #808080;
        height: 100vh;
        width: 100vw;
        background-color: black;
        box-shadow: 0px 0 8vw 7vh rgba(0, 4, 5);
        letter-spacing: 5px;
    }
    .smoll {
        background: url(../img/portfolio/240944737_1020288688735564_2143933923644719314_n.jpg) no-repeat;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100vw;
        height: 100vh;
        padding-top: 61vh;
        background-size: cover;
    }
    .about {
        padding-top: 58vh;
    }
    .about__pattern {
        margin-top: 1vh;
        margin: 0 auto;
        width: 10vw;
        height: 10vh;
        padding-top: 3vh;
    }

    .about__fullName {
        margin: 1px 0 0vh;
        color: white;
    }
    .about__fullName {
        padding-top: 0.5vh;
        font-size: 4vh;
    }
    .portfolio {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .portfolio__item {
        min-height: 460px;
        max-height: 460px;
        min-width: 360;
        max-width: 360;
        width: 99.6%;
        height: 35vh;
        margin: 0.1%;
    }
    .header__menu {
        justify-content: start;
    }
    .header {
        height: 11vh;
    }
    .infoMe__container {
        display: block;
        /* justify-content: space-between; */
        width: 100%;
        /* height: 80vh; */
        height: auto;
    }
    .infoMeFoto__block {
        /* margin-top: 10vh; */
        width: 100%;
        height: auto;
    }
    .infoMeFoto__block img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        -o-object-fit: contain;
    }
    .infoMe__blok {
        width: 100%;
        height: auto;
    }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .smoll {
        background: url(../img/portfolio/240944737_1020288688735564_2143933923644719314_n.jpg) no-repeat;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100vw;
        height: 100vh;
        padding-top: 61vh;
        background-size: cover;
    }
    .portfolio__item {
        width: 49.5%;
        height: 26vh;
        margin: 0.1%;
    }
    .header {
        height: 9vh;
    }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .portfolio__item {
        min-height: 560px;
        max-height: 560px;
        min-width: 360;
        max-width: 360;
        width: 99.6%;
    }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
    .portfolio__item {
        min-height: 460px;
        max-height: 460px;
        min-width: 360;
        max-width: 360;
        width: 49.3%;
    }
}
