@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*----------------------------------------------------------------------------------------------------*/
body {
    /* font-family: Lato; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper {
    flex-grow: 1;
    position: relative;
}
.lineBlackHeader {
    position: fixed;
    width: 100vw;
    height: 1px;
    box-shadow: 0px 0px 100px 100px rgba(0, 4, 5, 0.9);
}
.header {
    border: none;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    /* min-height: 300p; */
    height: 10vh;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    height: 13vh;
}

.header__menu label.toggleMenu img {
    display: none;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
ul li a {
    color: #fff;
    font-size: 100%;
}
.header__socialNetworks {
    display: flex;
    align-items: center;

    width: 5vw;
    height: 100%;
}
.header__socialNetworks img {
    /* font-size: auto;
    height: 100%;
    width: auto; */
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
.about {
    background: url(../img/about/about_fon.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    padding-top: 58vh;
    background-size: cover;
}
.about__pattern {
    margin: 0 auto;
    width: 6vw;
    height: 6vh;
}
.about__pattern img {
    font-size: auto;
    width: 100%;
    height: auto;
}
.about__fullName {
    text-align: center;
    font-family: "Lobster-Regular";
    font-size: 5vh;
    line-height: 8vh;
    font-weight: 900;
    word-spacing: 1.5vh;
    color: #fff;
    padding: 4vh 0 4vh;
}
.about__profession {
    text-align: center;
    font-family: "Lobster-Regular";
    font-size: 4vh;
    line-height: 3vh;
    font-weight: 300;
    word-spacing: 1.5vh;
    color: #fff;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
.portfolio {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.portfolio__item {
    min-height: 460px;
    max-height: 460px;
    min-width: 360;
    max-width: 360;
    width: 33.1%;
    height: 35vh;
    margin: 0.1%;
}
.portfolio__item img {
    object-fit: cover;
    -o-object-fit: cover;
    width: 100%;
    height: 100%;
}
.footer {
    width: 100vw;
    bottom: 0;
    margin: 5vh 0 3vh;
    text-align: center;
}
.footer span {
    font-weight: 1000;
    color: #c0c0c0;
    margin-bottom: 10vh;
}
.buttonTop {
    position: absolute;
    right: 3vw;
    bottom: 2vw;
}
.buttonTop img {
    height: 100%;
    width: 100%;
    filter: invert(0.4);
}
.aboutMenu {
    width: 100vw;
    padding: 0 10vw 0;
}
.title__aboutMenu {
    margin-top: 15vh;
    text-align: center;
}
.title__aboutMenu h1 {
    line-height: 26px;
    text-align: center;
    font-size: 30px;
    /* line-height: 8vh; */
    font-weight: 900;
    word-spacing: 5px;
    color: gray;
    padding: 4vh 0 4vh;
}
.aftorWords {
    font-family: "20094";
    line-height: 10vh;
    text-align: center;
    font-size: 7vh;
    /* line-height: 8vh; */
    font-weight: 900;
    word-spacing: 1vw;
    color: black;
    background-color: grey;
    padding: 4vh 0 4vh;
    margin: 6vh 0 8vh;
    box-shadow: 0px 0px 2vw 5vh rgba(54, 54, 54, 0.8);
}
.package__text {
    display: block;
    margin-bottom: 4vh;
}
.package__text h3 {
    font-size: 30px;
    font-weight: 900;
}
.package__item {
    margin: 1vh;
    list-style-type: disc;
}
.package__item span {
    word-spacing: 5px;
    font-size: 20px;
}
.additional__services {
}
.services__title {
    margin-top: 7vh;
    text-align: center;
}
.services__title h2 {
    line-height: 24px;
    text-align: center;
    font-size: 30px;
    /* line-height: 8vh; */
    font-weight: 900;
    word-spacing: 5px;
    color: black;
    padding: 4vh 0 4vh;
}
.services__text span {
    word-spacing: 5px;
    font-size: 20px;
}
.aboutMe span {
    word-spacing: 5px;
    font-size: 20px;
}
.infoMe__container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: auto;
}
.infoMeFoto__block {
    /* margin-top: 10vh; */
    width: 35vw;
    height: auto;
}
.infoMeFoto__block img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}
.infoMe__blok {
    width: 40vw;
    height: auto;
}
.myContacts {
    text-align: center;
    margin-top: 50px;
    width: 100%;
}
.myContacts h3 {
    font-size: 20px;
}
.myContacts span {
    font-size: 20px;
}
.about__series {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 7% 0;
    /* height: auto; */
    /* display: block; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
}
.series__item {
    height: 100vh;
    width: auto;
    /* margin: 4px; */
    min-height: 460px;
    min-width: 460px;
    /* max-height: 460px; */
    /* max-width: 360; */
    /* width: 99.6%; */
    /* height: 35vh; */
    margin: 0.1%;
}
.series__item img {
    object-fit: contain;
    -o-object-fit: contain;
    width: 100%;
    height: 100%;
}
.series__text {
    width: 90vw;
    margin: 0 auto;

    padding: 0 0 10px;
    /* margin: 0 5px 30px; */
    height: auto;
}
.series__text span {
    font-size: 20px;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

@font-face {
    font-family: "20094";
    src: url("../fonts/20094.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lobster-Regular";
    src: url("../fonts/Lobster-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
